<form asp-action="Form" method="post">
    <input type="text" name="FullName" placeholder="Nhập tên vào đây"/>
    <input type="text" name="StudentCode" placeholder="Nhập msv vào đây"/>
    <input type="submit" value="send data"/>
</form>
<h2>@ViewBag.message</h2>